$main-color: #00A99D;
$gradient-color-top: #00A99D;
$gradient-color-bottom: #93278F;
$bg-color: rgb(16, 18, 22);
$fg-color: #fff;
$gradient: linear-gradient(135deg, $gradient-color-bottom, $gradient-color-top);

.mg-b-10 {
  margin-bottom: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $bg-color;
}

.wrapper::before {
  content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('images/dots-1000-dark.jpg'), $bg-color;
    background-size: cover;
    opacity: 0.025;
}

.wrapper {
  margin: 0 auto;
}

header {
  background: #202020;
  background-image: linear-gradient(135deg, $gradient-color-bottom, $gradient-color-top);
  // background-attachment: fixed;
  padding: 20px;
}

a {
  text-decoration: none;
}

header {
  p.objective {
    color: #fff;
    margin-bottom: 15px;
    font-size: 13.5px;
  }
  
  .title {
    color: #fff;
    font-size: 30px;
    margin-bottom: 5px;
    display: inline;
  }

  .title__name {
    color: #fff;
    font-size: 30px;
    margin-bottom: 5px;
    display: inline;
  }
  
  .contact {
    display: grid;
    grid-template-columns: 50% 50%;
    // border-top: 2px solid #fff;
    // padding-top: 15px;

    p {
      padding: 5px 0;
      text-align: center;
      color: #fff;
  
      a {
        color: #fff;
        text-decoration: none;
      }
    } 
  }
}


.content {
  color: $fg-color;

  .resume-link {
    color: #00A99D;
    width: 100%;
    text-align: center;
    margin: 35px auto 0 auto;
    font-size: 25px;
  }
  
  .section::before {
    background: $main-color;
    background-image: $gradient;
    background-attachment: fixed;
    padding-top: 3px;
    width: 100%;
    content: "";
    display: inline-block;
  }
  
  .section {
    margin: 60px 20px 60px 20px;

    .subsection {
      margin-bottom: 40px;
    }

    .title {
      // color: $main-color;
      // background: $main-color;
      // background-image: linear-gradient($gradient-color-top, $gradient-color-bottom);
      // background-attachment: fixed;
      // background-clip: text;
      // -webkit-background-clip: text;
      color: $fg-color;
      font-weight: bold;
      font-size: 26px;
      margin-bottom: 5px;
      padding-top: 20px;
      padding-bottom: 15px;
    }
    .subtitle {
      font-size: 18px;
      font-weight: 800;
    }
    .emphasis {
      font-style: italic;
    }
    p {
      font-size: 14px;
      margin-bottom: 6px;
      line-height: 24px;
    }
    ul {
      margin-top: 5px;
      padding-left: 20px;

      li {
        margin-bottom: 5px;
      }
    }
    button {
      border: none;
      padding: 7px;
      border-radius: 10px;
      background: $main-color;
      background-image: $gradient;
      background-attachment: fixed;
      color: #fff;
      cursor: pointer;
      margin-right: 3px;
    }
    a {
      text-decoration: none;
    }
    a .outer {
      background: $main-color;
      background-image: $gradient;
      background-attachment: fixed;
      border-radius: 10px;
      padding: 5px 5px 1px 5px;
    }
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

@media (min-width: 630px) {
  .wrapper {
    width: 600px;
  }

  header {
    margin-top: 20px;
    border-radius: 15px;
  }
}

@media (min-width: 1100px) {
  .wrapper {
    width: 1000px;
  }

  header .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .content .section {
    .title {
      font-size: 40px;
      padding-bottom: 30px;
    }

    .subtitle {
      font-size: 20px;
    }
  }

  .section {
    .projects__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;

      .subsection {
        margin-bottom: 0px;
      }
    }
  }
}

@media (max-width: 420px) {
  header .title__name {
    display: block;
  }
}

@media (max-width: 370px) {
  header .contact {
    display: flex;
    flex-direction: column;
  }
}

// IE 10 and 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .content .section p.title {
    background: #fff;
    background-image: none;
    color: #000;
  }

  @media (min-width: 1100px) {
    
    .content .section .image {
      width: 500px;
    }

    .section.double .double-column {
      display: block;
    }

    .section.double .double-column .fcolumn {
      margin-right: 0;
    }
  }
}

// IE 9
@media all and (min-width:0\0) and (min-resolution:0.001dpcm) {
  .content .section p.title {
    background: #fff;
    background-image: none;
    color: #000;
  }

  .content .section img {
    border: none;
  }

  .section.double .double-column .fcolumn {
    margin-right: 0;
  }
}

// @-moz-document url-prefix() {
//   .content .section .title {
//     background-attachment: initial;
//     color: #000;
//   }
// }