.mg-b-10 {
  margin-bottom: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("images/dots.jpg");
  background-size: cover;
  opacity: 0.025;
}

.wrapper {
  margin: 0 auto;
}

header {
  background: #00A99D;
  background-image: linear-gradient(#00A99D, #93278F);
  background-attachment: fixed;
  padding: 20px;
}

a {
  text-decoration: none;
}

header p.objective {
  color: #fff;
  margin-bottom: 15px;
  font-size: 13.5px;
}
header .title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 5px;
  display: inline;
}
header .title__name {
  color: #fff;
  font-size: 30px;
  margin-bottom: 5px;
  display: inline;
}
header .contact {
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 2px solid #fff;
  padding-top: 15px;
}
header .contact p {
  padding: 5px 0;
  text-align: center;
  color: #fff;
}
header .contact p a {
  color: #fff;
  text-decoration: none;
}

.content .resume-link {
  color: #00A99D;
  width: 100%;
  text-align: center;
  margin: 35px auto 0 auto;
  font-size: 25px;
}
.content .section::before {
  background: #00A99D;
  background-image: linear-gradient(#00A99D, #93278F);
  background-attachment: fixed;
  padding-top: 3px;
  width: 100%;
  content: "";
  display: inline-block;
}
.content .section {
  margin: 20px 20px 50px 20px;
}
.content .section .subsection {
  margin-bottom: 40px;
}
.content .section .title {
  color: #00A99D;
  background: #00A99D;
  background-image: linear-gradient(#00A99D, #93278F);
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 26px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.content .section .subtitle {
  font-size: 18px;
  font-weight: 800;
}
.content .section .emphasis {
  font-style: italic;
}
.content .section p {
  font-size: 14px;
  margin-bottom: 6px;
  line-height: 24px;
}
.content .section ul {
  margin-top: 5px;
  padding-left: 20px;
}
.content .section ul li {
  margin-bottom: 5px;
}
.content .section button {
  border: none;
  padding: 7px;
  border-radius: 10px;
  background: #00A99D;
  background-image: linear-gradient(#00A99D, #93278F);
  background-attachment: fixed;
  color: #fff;
  cursor: pointer;
  margin-right: 3px;
}
.content .section a {
  text-decoration: none;
}
.content .section a .outer {
  background: #00A99D;
  background-image: linear-gradient(#00A99D, #93278F);
  background-attachment: fixed;
  border-radius: 10px;
  padding: 5px 5px 1px 5px;
}
.content .section img {
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 630px) {
  .wrapper {
    width: 600px;
  }

  header {
    margin-top: 20px;
    border-radius: 15px;
  }
}
@media (min-width: 1100px) {
  .wrapper {
    width: 1000px;
  }

  header .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .content .section .title {
    font-size: 40px;
    padding-bottom: 30px;
  }
  .content .section .subtitle {
    font-size: 20px;
  }

  .section .projects__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .section .projects__wrapper .subsection {
    margin-bottom: 0px;
  }
}
@media (max-width: 420px) {
  header .title__name {
    display: block;
  }
}
@media (max-width: 370px) {
  header .contact {
    display: flex;
    flex-direction: column;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .content .section p.title {
    background: #fff;
    background-image: none;
    color: #000;
  }
}
@media (-ms-high-contrast: none) and (min-width: 1100px), (-ms-high-contrast: active) and (min-width: 1100px) {
  .content .section .image {
    width: 500px;
  }

  .section.double .double-column {
    display: block;
  }

  .section.double .double-column .fcolumn {
    margin-right: 0;
  }
}
@media all and (min-width: 0\0 ) and (min-resolution: 0.001dpcm) {
  .content .section p.title {
    background: #fff;
    background-image: none;
    color: #000;
  }

  .content .section img {
    border: none;
  }

  .section.double .double-column .fcolumn {
    margin-right: 0;
  }
}
@-moz-document url-prefix() {
  .content .section .title {
    background-attachment: initial;
    color: #000;
  }
}

/*# sourceMappingURL=portfolio.css.map */
