/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/open-sans-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('fonts/open-sans-v18-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v18-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


$main-color: #00A99D;
$gradient-color-top: #00A99D;
$gradient-color-bottom: #93278F;
$bg-color: rgb(16, 18, 22);
$fg-color: #fff;
$gradient: linear-gradient(135deg, $gradient-color-bottom, $gradient-color-top);

.mg-b-10 {
  margin-bottom: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $bg-color;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration-color: #fff;
}

header {
  #title {
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
  }
  #title.active {
    background-color: #1F2530;
  }

  margin: 20px 0;

  .header-text {
    color: #d5d6ff;
    font-size: 14px;
  }

  .title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }

  .contact {
    color: #e6e7ff;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;

    .email-symbol {
      color: #aaa;
      font-size: 14px;
    }

    p {
      padding: 5px 0 5px 0;
    color: #e6e7ff;
  
      a {
        text-decoration: none;
    color: #e6e7ff;
      }

    i {
    margin-right: 10px;
    }

    } 
  }
}


.content {
  color: $fg-color;

  .resume-link {
    color: #00A99D;
    width: 100%;
    text-align: center;
    margin: 35px auto 0 auto;
    font-size: 25px;
  }

  .section:first-child {
    margin-top: 0;
  }

  .section::before {
    background: $main-color;
    background-image: $gradient;
    background-attachment: fixed;
    padding-top: 3px;
    width: 100%;
    content: "";
    display: inline-block;
  }
  
  .section {
    margin: 60px 0;
    color: #d5d6ff;

    .subsection {
      margin-bottom: 40px;
    }

    .title {
    color: #e6e7ff;
      font-weight: bold;
      font-size: 26px;
      margin-bottom: 5px;
      padding-top: 20px;
      padding-bottom: 15px;
    }
    .subtitle {
      font-size: 18px;
      font-weight: 800;
    }
    .emphasis {
      font-style: italic;
    }
    p {
      font-size: 14px;
      margin-bottom: 6px;
      line-height: 24px;
    }
    ul {
      margin-top: 5px;
      padding-left: 20px;

      li {
        margin-bottom: 5px;
      }
    }
    button {
      border: none;
      padding: 7px;
      border-radius: 10px;
      background: $main-color;
      background-image: $gradient;
      background-attachment: fixed;
      color: #fff;
      cursor: pointer;
      margin-right: 3px;
    }
    a {
      text-decoration: none;
    }
    a .outer {
      background: $main-color;
      background-image: $gradient;
      background-attachment: fixed;
      border-radius: 10px;
      padding: 5px 5px 1px 5px;
    }
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 800px) {
  .wrapper {
    max-width: 800px;
  }

  .projects__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    .desc {
      height: 96px;
    }
  }
}
